# The IP CIDR range which are allowed to access the freeradius server
ACCESS_ALLOWED_CIDR=192.168.1.1/24
# The base of your domain (example.com)
BASE_DOMAIN=example
# The extension of your domain (example.com)
DOMAIN_EXTENSION=com
# The user name provided by Google
GOOGLE_LDAP_USERNAME=USER_NAME
# The password provided by Google
GOOGLE_LDAP_PASSWORD=Password
# The shared secret of your Freeradius server
SHARED_SECRET=testing123
