# Which IP range is allowed access to the freeradius controller. 
# This should be the IP range of the access points talking to 
# the freeradius container
ACCESS_ALLOWED_CIDR=192.168.1.0/24

# The Shared secret needed to talk to the freeradius server
SHARED_SECRET=testing123

# BASE DOMAIN
BASE_DOMAIN=example

# When setting up domain example.com
DOMAIN_EXTENSION=com

# When setting up domain example.com.br
# DOMAIN_EXTENSION=com.br

GOOGLE_LDAP_USERNAME=Only1Time
GOOGLE_LDAP_PASSWORD=superpass
